.main {
  width: 340px;
  aspect-ratio: 1/1;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 50px 40px;
  text-align: left;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.iconFrame {
  display: inline-block;
  position: relative;
  bottom: 3px;
}
