$w-xl: 1650px; // resolution just under 1920
$w-l: 1450px; // resolution above 1366
$w-m: 1280px; // ipad big resolution
$w-m-s: 1080px; // ipad big resolution
$w-s: 800px; // ipad small resolution
$w-xs: 550px; // mobile resolution

@mixin respond-width($media) {
    $max-width: $media + 1px;

    @media (max-width: #{$max-width}) {
        @content;
    }
}