@import "_typography";
@import "_media_queries";

html {
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: sans-serif;


  background-color: #575050;
  color: #BFC0B2;
}

.webgl-img {
  img {
    opacity: 0;
  }
}


@import '_common.scss';
@import '_animations.scss';