.project {
  display: inline-block;
}

.description {
  display: none;
}

.expanded {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20vh 0;
  transition: ease all 0.3s;

  @include respond-width($w-s) {
    flex-direction: column-reverse;
    align-items: center !important;
    padding: 10vh 0;
    gap: 10vh;
  }

  .heading-3 {
    position: absolute;
    right: 105%;
    align-self: flex-start;

    @include respond-width($w-m-s) {
      top: 5%;
      left: 0;
    }

    @include respond-width($w-s) {
      top: 0;
      left: 10%;
    }

    @include respond-width($w-xs) {
      top: 2%;
      left: 5%;
    }
  }

  .info {
    display: none;
  }

  .description {
    position: relative;
    display: block;
    width: 40%;
    height: 60vh;

    @include respond-width($w-m-s) {
      width: 46%;
    }

    @include respond-width($w-s) {
      width: 80%;
    }

    @include respond-width($w-xs) {
      width: 100%;
    }

    .statistics {
      height: 50%;

      .infoRow {
        height: 20%;

        * {
          display: inline-block;
          width: 50%;
        }
      }
    }

    a {
      display: inline-block;
      margin-top: 20px;
    }
  }

  .frame {
    width: 40% !important;
    position: relative;

    @include respond-width($w-m-s) {
      width: 46% !important;
    }

    @include respond-width($w-s) {
      width: auto !important;
      max-height: 50% !important;
      object-fit: contain;
    }

    // @include respond-width($w-xs) {
    //     width: 100% !important;
    // }

    &:hover {
      cursor: auto;
    }
  }

  .closeIcon {
    display: block;
    position: absolute;
    left: 102%;
    align-self: flex-start;
    border: 1px solid aqua;

    @include respond-width($w-m-s) {
      top: 8%;
      left: 90%;
    }

    @include respond-width($w-s) {
      top: 30px;
      left: 85%;
    }

    @include respond-width($w-xs) {
      top: 3%;
      right: 5%;
    }
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
}
