//=======>>>   WORKS   <<<==========//

.works-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto 0 auto 150px;
  position: relative;

  @include respond-width($w-s) {
    margin: auto 0 auto 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include respond-width($w-xs) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

h2 {
  text-align: right;
  padding-bottom: 100px;

  @include respond-width($w-s) {
    padding-bottom: 50px;
  }
}
#gallery {
  position: relative;
  //position: absolute;
}

.gallery-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  bottom: 0;
  z-index: 10;
}

.gallery-controls-btn {
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.close-btn {
  top: 25%;
  right: 0;
}
.change-project-btn {
  height: 100px;
  width: 100%;
  color: var(--light-color);
  border: 1px solid red;
  &.next-item {
    top: 0;
  }
  &.prev-item {
    bottom: 0;
  }
}

.project-item {
  position: relative;
}
.project-inline {
  display: inline-block;
  width: 50%;
}
