:root {
  --light-color: #bfc0b2;
  --dark-color: #1b1818;
}

html {
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: sans-serif;

  background-color: var(--dark-color);
  color: var(--light-color);
}

html * {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
